.card {
  display: flex; 
  color: #fff;
  height: 300px;
  width: 300px;
  padding: 20px;
  font-size: 1rem;
}

.card h1 {
  word-wrap: break-word;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
    padding: 5px;
  }
}
