.jogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.portas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.botoes {
  margin-top: 40px;
}

.botoes button{
  background-color: #c0392c;
  color: white;
  font-size: 2rem;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
}