.base {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0 2%;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0;
  cursor: pointer;
}


@media screen and (max-width: 600px) {
  .form {
    width: 100%;
  }
}